body {
    background-color: #C9CAF3;
    font-family: 'Poppins', sans-serif;
}

.main-content {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px; /* Reduzindo o padding para caber na tela */
    min-height: 100vh; /* Garante que o container ocupe a altura total da tela */
    justify-content: space-between; /* Distribui o espaço entre os elementos */
}

.header-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.main-title {
    font-size: 48px;
    font-weight: bold;
    color: #000;
}

.top-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 150px;
}

.input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.spy-icon {
    width: 100px;
    height: auto;
}

.section-title {
    font-size: 24px;
    font-weight: normal;
    color: #000;
    text-align: center;
}

.input-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

#amigo {
    width: 250px;
    padding: 10px;
    border-radius: 13px;
    border: 1px solid #123B8F;
    background-color: #123B8F47;
}

.button-add {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #123B8F47;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

.button-draw {
    padding: 15px 40px;
    font-size: 28px;
    border-radius: 46px;
    border: none;
    background-color: #123B8F47;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

#listaAmigos {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.name-item {
    width: 300px;
    padding: 15px;
    background-color: #123B8F47;
    border-radius: 20px;
    text-align: center;
}

.result-section {
   
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sortearAmigo {
    padding: 20px 40px;
    background-color: #123B8F47;
    border-radius: 200px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    font-size: 48px;
    font-weight: bold;
    color: #000;
    text-align: center;
}